:root {
    --color-negative: #3a4042;
    --color-zero: #fcf5c7;
    --color-first: #fcf5c7;
    
    --color-second: #adf7b6;
    --color-third: #a0ced9;
    --color-fourh: #ffee93;
    --color-fifth: #ffc09f;
}