:root {
    --color-negative: #3b3b3b;
    --color-light-negative:  rgb(59, 59, 59, 0.1);
    --color-zero: #f6f6f6;
    --color-first: #ececec;
    
    --color-second: #ffc5c5;
    /* --color-third: #ffadad; */
    
    /* --color-fourh: #ffee93;
    --color-fifth: #ffc09f; */
}

/* https://www.colorhexa.com/ffd6a5 */
/* https://coolors.co/palette/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc */