:root {
    --color-negative: #565656;
    --color-zero: #fffffc;
    --color-first: #ffd6a5;
    
    --color-second: #ffa9a5;
    --color-third: #ffadad;
    
    /* --color-fourh: #ffee93;
    --color-fifth: #ffc09f; */
}

/* https://www.colorhexa.com/ffd6a5 */
/* https://coolors.co/palette/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc */