.Navbar{
    position: absolute;
    width: 291px;
    height: 21px;
    left: 34px;
    top: 19px;
}

.action{
    font-weight: bold;
    font-size: 14px;
    color: var(--color-negative);
    text-decoration: none;
    text-transform: uppercase;
}